service: usam

provider:
  name: aws
  runtime: python3.12
  region: us-east-2
  environment:
    DB_HOST: ${env:DB_HOST}
    ENVIRONMENT: ${env:ENVIRONMENT}
    DATABASE: ${env:DATABASE}
    USER_DB: ${env:USER_DB}
    PASSWORD: ${env:PASSWORD}
  vpc:
    securityGroupIds:
      - sg-0d62aed3e4ae61ac3
    subnetIds:
      - subnet-008fa959e59154488
  deploymentBucket:
    name: '${env:BUCKET}'


plugins:
    - serverless-python-requirements

custom:
  handlePath: src
  pythonRequirements:
    dockerizePip: true

package:
  include:
    - src/**
    - requirements.txt

functions:

  process_data:
    handler: ${self:custom.handlePath}/process_data.lambda_handler
    events:
      - schedule:
          rate: rate(1 minutes)
          enabled: true
    memorySize: 256
    timeout: 600
    ephemeralStorageSize: 512
    name: process_data
    architecture: x86_64
    description: Procesar datos de IoT y almacenarlos en RDS

  average_data:
    handler: ${self:custom.handlePath}/average_data.lambda_handler
    memorySize: 256
    timeout: 10
    ephemeralStorageSize: 512
    name: average_data
    architecture: x86_64
    description: Calcular el promedio de datos y almacenarlo en RDS

  send_dynamo:
    handler: ${self:custom.handlePath}/send_dynamo.lambda_handler
    memorySize: 256
    timeout: 10
    ephemeralStorageSize: 512
    name: send_dynamo
    architecture: x86_64
    description: Enviar datos a DynamoDB
  
  SendMessageToSlackIoT:
    handler: ${self:custom.handlePath}/format_iot_sns.lambda_handler
    memorySize: 256
    timeout: 10
    ephemeralStorageSize: 512
    name: SendMessageToSlackIoT
    architecture: x86_64
    description: Formatea el mensaje de SNS para enviar a Slack
  
  db_conection:
    handler: ${self:custom.handlePath}/db/db_config.get_db_conexion
    memorySize: 256
    timeout: 10
    ephemeralStorageSize: 512
    name: db_connection
    architecture: x86_64
    description: Conectar a la base de datos RDS

  SendMessageCloudWatchToSlack:
    handler: ${self:custom.handlePath}/cloudwatch_alert_sns.lambda_handler
    memorySize: 256
    timeout: 10
    ephemeralStorageSize: 512
    name: SendMessageCloudWatchToSlack
    architecture: x86_64
    description: Formatea el mensaje de SNS de CloudWatch para enviar a Slack