name: CI - Deploy IaC y aplicativo monitoreo granja

on:
  push:
    branches: 
      # - main
      # - release
      - develop
    paths:
      - 'src/**'
      - 'package.json'
      - 'serverless.yml'
      - '.github/workflows/ci.yml'
      - '.github/workflows/cd.yml'

permissions:
  id-token: write
  contents: read
      
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - env: dev
            branch: refs/heads/develop
          - env: release
            branch: refs/heads/release
          - env: prod
            branch: refs/heads/main
    environment: ${{ matrix.env }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configurar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Instalar dependencias
        run: npm install
      
      - name: Configurar credenciales de AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}
        if: github.ref == matrix.branch

      - name: Seteo de variables de entorno en github env
        run: |
          echo "SERVERLESS_ACCESS_KEY=${{ secrets.SERVERLESS_ACCESS_KEY }}" >> $GITHUB_ENV
          echo "ENVIRONMENT=${{ vars.ENVIRONMENT }}" >> $GITHUB_ENV
          echo "SECRET_NAME=${{ secrets.SECRET_NAME }}" >> $GITHUB_ENV
          echo "TOPIC_ARN=${{ vars.TOPIC_ARN }}" >> $GITHUB_ENV
          echo "BUCKET=${{ vars.BUCKET }}" >> $GITHUB_ENV
        if: github.ref == matrix.branch
      
      - name: Desplegar con serverless Framework
        run: npx serverless deploy --stage ${{ vars.ENVIRONMENT }} --region ${{ vars.AWS_REGION }} --verbose
        if: github.ref == matrix.branch